body {
  margin: 0px;
  padding: 0px;
  background-color: #000000;
}
:root {
  --black: black;
  --white: white;
}
@font-face {
  font-family: 'milk' sans-serif;
  src: url(milk_peach/Milk\ Peach.ttf);
}


.fitness-hero {
  background-image: url('../images/Hero_bg.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  padding-top: 95px;
  display: flex;
}

.fitness-hero-container {
  flex: 1;
  justify-content: space-between;
  max-width: 1110px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
}

.div-block {
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  max-width: 536px;
  display: flex;
  position: relative;
}

.div-block-2 {
  flex-flow: column;
  flex: 1;
  justify-content: center;
  align-items: flex-start;
  max-width: 520px;
  display: flex;
}

.body {
  background-color: var(--black);
}

.heading-01 {
  color: var(--white);
  font-family: Inter, sans-serif;
  font-size: 78px;
  font-weight: 700;
  line-height: 86px;
}

.body--14 {
  color: #ffffff80;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.body--14.align-center {
  text-align: center;
}

.body--14._02 {
  font-size: 13px;
}

.btn-01 {
  background-color: #e6533c;
  border-radius: 42px;
  padding: 16px 45px;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  text-decoration: none;
  color: #FFFFFF;
}

.btn-01._02 {
  border: 1px solid var(--white);
  background-color: #0000;
}

.btn-01.join {
  padding-left: 72px;
  padding-right: 72px;
  border: none;
  cursor: pointer;
}

.div-block-3 {
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  display: flex;
}

.div-block-4 {
  margin-top: 28px;
  margin-bottom: 28px;
}

.image {
  max-width: 65%;
}

.div-block-5 {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  background-color: #ffffff1a;
  border-radius: 12px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 193px;
  padding: 16px 24px;
  display: flex;
  position: absolute;
  inset: 22% 0% auto auto;
}

.div-block-5._02 {
  flex-flow: row;
  width: 206px;
  inset: auto auto 14% -5%;
}

.num-500 {
  color: var(--white);
  font-family: Inter, sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
}

.caption-01 {
  color: #ffffffa6;
  font-family: Inter, sans-serif;
}

.sub-heading-01 {
  color: var(--white);
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}

.div-block-6 {
  display: block;
}

.div-block-7 {
  margin-right: 12px;
}

.div-block-7 {
  margin-right: 12px;
}

.fitness-habbit {
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
}

.fitness-habbit-container {
  flex: 1;
  max-width: 1060px;
  margin-left: 40px;
  margin-right: 40px;
}

.div-block-8 {
  max-width: 476px;
}

.div-block-9 {
  max-width: 547px;
  margin-top: 14px;
}

.heading-02 {
  color: var(--white);
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

.heading-02.align-left {
  text-align: left;
}

.body-02 {
  color: #ffffff80;
  text-align: center;
  font-family: Inter, sans-serif;
}

.body-02.left {
  color: var(--white);
  text-align: left;
  font-weight: 500;
}

.habits-heading {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.habits-card {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 68px;
  display: grid;
}

.div-block-12 {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 232px;
  display: flex;
}

.image-2 {
  border-radius: 100px;
}

.div-block-13 {
  background-color: #ffffff1a;
  border-radius: 100px;
  width: 180px;
  padding: 5px;
}

.body-18 {
  color: #fff;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.div-block-14 {
  margin-top: 30px;
  margin-bottom: 6px;
  display: block;
}

.div-block-15 {
  display: block;
}


.join-content {
  background-color: #222;
  border-radius: 18px;
  justify-content: space-between;
  margin-top: 100px;
  padding: 30px 32px 30px 54px;
  display: flex;
}

.div-block-16 {
  flex: 1;
  max-width: 402px;
}

.div-block-17 {
  flex: 1;
  max-width: 366px;
  height: 312px;
}

.image-3 {
  object-fit: cover;
  border-radius: 18px;
  width: 100%;
  height: 100%;
}

.div-block-18 {
  margin-top: 14px;
  margin-bottom: 34px;
}



.training {
  margin-top: 100px;
}

.div-block-19 {
  margin-top: 14px;
}

.div-block-20 {
  max-width: 648px;
}

.div-block-20._02 {
  margin-top: 100px;
  margin-left: 220px;
}

.div-block-21 {
  display: flex;
}

.div-block-22 {
  flex: 1;
  max-width: 250px;
  height: 202px;
  position: relative;
}

.div-block-22._03 {
  flex: 1;
  max-width: 290px;
}

.div-block-22._03._06 {
  max-width: 347px;
}

.div-block-22._04 {
  max-width: 490px;
}

.image-4 {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.div-block-23 {
  background-color: #06ffd280;
  position: absolute;
  inset: 0%;
}

.div-block-23._03 {
  background-color: #00000080;
}

.div-block-23._03._06 {
  background-color: #0047ff4d;
}

.div-block-23._04 {
  background-color: #00000080;
}

.training-nmae {
  color: var(--black);
  font-family: Inter, sans-serif;
  font-weight: 500;
  position: absolute;
  inset: auto auto 10% 10%;
}

.training-nmae._02 {
  color: var(--white);
  inset: 10% auto auto 10%;
}

.training-nmae._03 {
  color: var(--white);
  max-width: 178px;
}

.training-nmae._03._04 {
  inset: 10% 0% auto auto;
}

.div-block-22-copy {
  flex: 1;
  max-width: 520px;
  height: 202px;
  position: relative;
}

.div-block-22-copy._05 {
  max-width: 288px;
}

.red-bg {
  background-color: #ff00004d;
  position: absolute;
  inset: 0%;
}

.red-bg._05 {
  background-color: #42ff004d;
}

.div-block-24 {
  margin-top: 64px;
}




.team {
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
}

.team-container {
  flex: 1;
  max-width: 1060px;
  margin-left: 40px;
  margin-right: 40px;
}

.div-block-25 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: #ffffff1a;
  border-radius: 18px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 64px;
  padding: 20px;
  display: grid;
}

.div-block-26 {
  border-radius: 18px;
  max-width: 326px;
  height: 272px;
  position: relative;
}

.image-5 {
  object-fit: cover;
  border-radius: 18px;
  width: 100%;
  height: 100%;
}

.div-block-27 {
  position: absolute;
  inset: auto auto 16px 20px;
}

.trainee-name {
  color: var(--white);
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}





.container {
  width: 100%;
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background-color: #ffffff1a;
  border-bottom: 1px solid #e4ebf3;
  padding: 100px 30px 35px;
  position: relative;
}

.footer-wrapper {
  justify-content: space-between;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-content {
  grid-column-gap: 70px;
  grid-row-gap: 40px;
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: auto auto 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  max-width: 520px;
  display: flex;
}

.footer-block {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.title-small {
  color: var(--white);
  text-transform: none;
  margin-bottom: 12px;
  font-family: Inter, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}

.footer-link {
  color: #ffffff80;
  margin-top: 12px;
  margin-bottom: 6px;
  font-family: Inter, sans-serif;
  font-size: 24px;
  line-height: 32px;
  text-decoration: none;
}

.footer-divider {
  background-color: #ffffff1a;
  width: 100%;
  height: 1px;
  margin-top: 70px;
  margin-bottom: 15px;
}

.footer-copyright-center {
  color: #ffffff80;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 20px;
  line-height: 24px;
}

.div-block-28 {
  max-width: 443px;
  
}

.div-block-29 {
  margin-top: 20px;
}




.bmi {
  background-color: #ffffff1a;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
}

.bmi-container {
  flex: 1;
  justify-content: space-between;
  max-width: 1060px;
  margin-left: 40px;
  margin-right: 40px;
  display: flex;
}

.div-block-30 {
  flex: 1;
  max-width: 576px;
}

.div-block-31 {
  flex: 1;
  max-width: 301px;
}

.sub-heading-01.bold {
  font-weight: 700;
}

.div-block-32 {
  margin-top: 14px;
  margin-bottom: 34px;
}

.div-block-33 {
  margin-top: 52px;
}

.text-field {
  background-color: #ffffff1a;
  border: 1px solid #ffffff1a;
  border-radius: 8px;
  height: 48px;
  margin-bottom: 0;
  padding-left: 20px;

}

.text-field.sex {
  background-image: url('../images/Arrow-down.png');
  background-position: 95%;
  background-repeat: no-repeat;
  background-size: auto;
}

.text-field.sex.last {
  background-position: 98%;
  width: 577px;
}

.div-block-34 {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.div-block-35 {
  margin-top: 12px;
  margin-bottom: 34px;
  display: flex;
}

.div-block-36 {
  border: 1px solid #ffffff1a;
  padding: 12px 16px;
}

.div-block-37 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 450px) {
  .fitness-hero {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
  }

  .fitness-hero-container {
    flex-flow: column;
    margin-left: 10px;
    margin-right: 10px;
  }

  .div-block {
    margin-top: 40px;
  }

  .heading-01 {
    font-size: 36px;
    line-height: 44px;
  }

  .btn-01 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .btn-01.join {
    text-align: center;
    flex: 1;
  }

  .div-block-3 {
    flex-flow: column;
  }

  .div-block-5 {
    width: 100px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    top: 12%;
    right: 8%;
  }

  .div-block-5._02 {
    flex-flow: column;
    width: 100px;
    bottom: -1%;
    left: 11%;
  }

  .num-500 {
    font-size: 30px;
    line-height: 30px;
  }

  .caption-01 {
    font-size: 9px;
    line-height: 9px;
  }

  .fitness-habbit-container {
    margin-left: 10px;
    margin-right: 10px;
  }

  .heading-02 {
    font-size: 32px;
    line-height: 40px;
  }

  .habits-card {
    grid-template-columns: 1fr;
    place-items: start center;
    margin-top: 40px;
  }

  .join-content {
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 33px;
  }

  .div-block-17 {
    margin-top: 32px;
  }

  .training {
    margin-top: 60px;
  }

  .div-block-20._02 {
    margin-top: 60px;
    margin-left: 0;
  }

  .div-block-22._03 {
    display: none;
  }

  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .team-container {
    margin-left: 10px;
    margin-right: 10px;
  }

  .div-block-25 {
    grid-template-columns: 1fr;
    margin-top: 40px;
    padding: 10px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    max-width: none;
  }

  .footer {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  .footer-wrapper {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    flex-flow: column;
  }

  .footer-content {
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-block {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .footer-divider {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .bmi {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .bmi-container {
    flex-flow: column;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 300px;
  }

  .div-block-30 {
    margin-top: 60px;
  }

  .text-span {
    display: none;
  }

  .div-block-38 {
    display: flex;
  }

  .div-block-30 {
    flex: 1;
    max-width: 280px;
  }

  .div-block-28 {
    max-width: 443px;
    margin-bottom: 40px;
  }

  .div-block-34 {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
  
  
}




